{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'blog/images/mim-logo.png' %}" width="30px" alt="logo">
              مدونة
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">الرئيسية</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  دوراتي
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">دورة بايثون</a></li>
                  <li><a class="dropdown-item" href="#">دورة دجانجو</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">دورة نظام تعلم</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">من انا</a>
              </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="">تسجيل دخول</a></li>
                <li class="nav-item"><a class="nav-link" href="">تسجيل</a></li>
            </ul>
          </div>
        </div>
      </nav>
</header>
<section>
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-8">التدوينات</div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <h3 class="text-center bg-secondary text-light p-2">آخر التدوينات</h3>
                    <ul>
                        <li><a href="">التدوينة الأولى</a></li>
                        <li><a href="">التدوينة الأولى</a></li>
                        <li><a href="">التدوينة الأولى</a></li>
                        <li><a href="">التدوينة الأولى</a></li>
                        <li><a href="">التدوينة الأولى</a></li>
                    </ul>
                </div>
                <div class="card mb-3">
                    <h3 class="text-center bg-secondary text-light p-2">آخر التعليقات</h3>
                    <ul>
                        <li><a href="">التعليق الأول</a></li>
                        <li><a href="">التعليق الأول</a></li>
                        <li><a href="">التعليق الأول</a></li>
                        <li><a href="">التعليق الأول</a></li>
                        <li><a href="">التعليق الأول</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>