{% extends 'base.html' %}
{% load static %}
<!-- For Crispy Forms -->
{% load crispy_forms_tags %}
{% block content %}
<div class="border p-4 mb-5">
    <legend class="border-bottom pb-1 mb-3 text-break">حذف التدوينة</legend>
    <form action="" method="post">
        <legend class="pb-1 mb-3 mt-4 text-break">هل أنت متأكد من حذف "{{object.title}}" ؟</legend>
        {% csrf_token %}
        <button class="btn btn-danger mt-3" type="submit">حذف</button>
        <a class="btn btn-secondary mt-3 back-btn" href="{{ object.get_absolute_url }}">تراجع</a>
    </form>
</div>
{% endblock %}